<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        
        <fieldset id="email-field">
            {{  form.email.label }}
            {{  form.email(class = 'form-control', placeholder = 'Enter email address') }}
        </fieldset>

        <fieldset id="password-field">
            {{  form.password.label }}
            {{  form.password(class = 'form-control', placeholder = 'Enter passowrd') }}
            </fieldset>

        <fieldset id="confirm-field">
            {{  form.confirm.label }}
            {{  form.confirm(class = 'form-control', placeholder = 'Confirm password') }}
        </fieldset>

        <!-- Submit Button -->
        {{ form.submit_button(class = 'btn btn-success btn-block')  }}

    </div>


</form>